<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{MU}}blogpics/favicon.ico" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    {% if not nn %}
    {% include 'navbar.html' %}
    {% endif %}
    {% block body %}
    {% endblock %}
    {% if not nf %}
    {% include 'footer.html' %}
    {% endif %}
    <script>

    const openMenuBtn = document.getElementById('openMenuBtn');
    const closeMenuBtn = document.getElementById('closeMenuBtn');
    const mobileMenu = document.getElementById('mobileMenu');


    let backdrop = document.createElement('div');
    backdrop.className = 'mobile-menu-backdrop';
    document.body.appendChild(backdrop);

    openMenuBtn.onclick = function() {
      mobileMenu.classList.add('active');
      backdrop.classList.add('active');
    }
    closeMenuBtn.onclick = function() {
      mobileMenu.classList.remove('active');
      backdrop.classList.remove('active');
    }
    backdrop.onclick = function() {
      mobileMenu.classList.remove('active');
      backdrop.classList.remove('active');
    }
  </script>
</body>
</html>